/* You can add global styles to this file, and also import other style files */

@use "theme";

$app-theme: theme.make-theme(#3a681e);

@include theme.style($app-theme);

html,
body
{
    margin: 0;
    padding: 0;
}
